* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.no-bullet {
  list-style: none;
}

.inline-block {
  display: inline-block;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

nav > ul {
  text-align: left;
}

nav li {
  padding: 0 1rem;
}


header {
  padding: 12% 0;
}

section {
  min-height: 12.5rem;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

#profile-img-frame {
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.1rem solid #ddd;
}

#about p {
  padding: 0 2.5rem;
}

.card {
  border: solid #DDD;
  border-radius: 0.25rem;
  background-color: #FFF;
  margin: 1rem 0;
  padding: 1rem;
}

.screenshot {
  padding: 0.25rem;
  height: 60%;
  width: 100%;
}

.card h4, .card p {
  margin: 0.4rem;
}

li.tech:not(:last-child) {
  border-right: 0.125rem dotted #DDD;
  padding-right: 0.5rem;
}

ul p {
  font-weight: bold;
}

.no-deco {
  text-decoration: none;
}

.card a {
  padding: 0 0.25rem;
}
