* {
  box-sizing: border-box;
  -webkit-transition: linear 0.2s; /* Safari */
  transition: linear 0.2s;
}

.hidden {
  display: none;
}

.greendots-background {
  background: linear-gradient(
      rgba(41, 163, 163, 0.6),
      rgba(41, 163, 163, 0.6)
    ),
  url('img/noise.png');
}

.green-background {
  background-color: #29a3a3;
}

.pink {
  color: #ff6666;
}

.no-bullet {
  list-style: none;
}

.inline-block {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.no-deco {
  text-decoration: none;
}

.shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

header, footer {
  color: #f7f4ef;
}

header h1, section h2 {
  font-family: 'Lobster', cursive;
}

header h2, header a, .card h3 {
  font-family: 'Patua One', cursive;
}

nav, footer {
  padding: 1% 0;
  position: fixed;
  left: 0;
  right: 0;
}

footer {
  bottom: 0;
  margin-top: 2%;
}

nav {
  top: 0;
  z-index: 10;
}

nav a {
  color: #f7f4ef;
  font-weight: bold;
}

nav a:hover, nav a:focus, header a:hover, header a:focus, #contact a:hover, #contact a:focus {
  text-shadow: 0 0 2rem #fff;
  font-size: 110%;
}

nav li, header li {
  margin: 0;
  padding: 0 2%;
}

header {
  padding: 7% 0;
}

header a {
  font-size: 130%;
}

.center-portrait, .right-portrait, .left-portrait, .regular-portrait {
  height: 18rem;
  width: 18rem;
  margin: 1rem auto;
  border-radius: 50%;
  border: 0.1rem solid #f7f4ef;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
}

.regular-portrait, .center-portrait {
  background-size: 18rem 18rem;
}

.center-portrait, .left-portrait {
  background-position: 0px;
}

.regular-portrait {
  background-image: url('img/regular.png');
}

.right-portrait {
  background-image: url('img/right.png');
  background-size: 20rem 20rem;
  background-position: -35px;
}

.left-portrait {
  background-image: url('img/left.png');
  background-size: 21rem 21rem;
}

.center-portrait {
  background-image: url('img/center.png');
}

section {
  min-height: 12.5rem;
  padding: 3% 0;
  margin-top: 10%;
  border-radius: 1rem;
  border: 0.125rem dotted #4f4f4f;
  background-color: #f7f4ef;
}

#contact {
  padding: 8%;
}

#about p, #contact p {
  padding: 0 15%;
}

p {
  padding: 0 2%;
}

.card {
  background-color: #f7f4ef;
  padding: 0 1rem 3rem 1rem;
}

.screenshot {
  margin-bottom: 2%;
  height: 80%;
  width: 100%;
  border-radius: 5%;
}

.card h3, .card ul {
  margin: 0 0.4rem;
}

.card p, .screenshot {
  padding: 1%;
}

li.tech {
  font-size: 85%;
}

.card a, #contact a {
  padding: 0 0.25rem;
}

.card a {
  color: #f7f4ef;
}

.card a:hover {
  color: #ff7f7f;
}

li.project-link {
  border: 0.2rem solid #ff7f7f;
  border-radius: 0.2rem;
  margin: 1%;
  padding: 0.25%;
  width: 18%;
  background-color: #ff7f7f;
  cursor: pointer;
}

li.project-link:hover, li.project-link:visited {
  background-color: #f7f4ef;
  color: #ff7f7f;
}

#contact a {
  color: #ff7f7f;
}

@media only screen and (max-width: 40rem) {
  li.project-link {
    font-size: 85%;
    width: 29%;
  }

  #about p {
    padding: 0 2%;
  }

  header a {
    font-size: 100%;
  }

  .fa {
    font-size: 200%;
  }

  .center-portrait, .right-portrait, .left-portrait, .regular-portrait {
    height: 13rem;
    width: 13rem;
  }

  .regular-portrait {
    background-size: 13rem 13rem;
  }

  .right-portrait, .left-portrait {
    background-size: 16rem 16rem;
  }

  .right-portrait {
    background-position: -55px;
  }

  .center-portrait {
    background-size: 13rem 14rem;
  }

  header h1, header h2 {
    font-size: 80%;
  }
}

/* typing animations */
header h1, header h2 {
  overflow: hidden; /* content hidden until animation */
  white-space: nowrap; /* maintain single line */
  margin: 0 auto; /* scrolling effect as typing happens */
  letter-spacing: .1rem; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .85s step-end infinite;
}

/* typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 1rem;
  height: 1rem;
  background: rgba(41, 163, 163, 0.2);
  animation: animate 25s linear infinite;
  bottom: -10rem;
}

.bubbles li:nth-child(1)
{
  left: 25%;
  width: 5rem;
  height: 5rem;
  animation-delay: 0;
}

.bubbles li:nth-child(2)
{
  left: 10%;
  width: 1rem;
  height: 1rem;
  animation-delay: 2s;
}

.bubbles li:nth-child(3)
{
  left: 80%;
  width: 1.5rem;
  height: 1.5rem;
  animation-delay: 4s;
}

.bubbles li:nth-child(4)
{
  left: 40%;
  width: 3.75rem;
  height: 3.75rem;
  animation-delay: 6s;
}

.bubbles li:nth-child(5) {
  left: 50%;
  width: 4rem;
  height: 4rem;
  animation-delay: 8s;
}

.bubbles li:nth-child(6)
{
  left: 65%;
  width: 6.75rem;
  height: 6.75rem;
  animation-delay: 10s;
}

.bubbles li:nth-child(7) {
  left: 5%;
  width: 10rem;
  height: 10rem;
  animation-delay: 12s;
}

.bubbles li:nth-child(8)
{
  left: 75%;
  width: 2rem;
  height: 2rem;
  animation-delay: 14s;
}

.bubbles li:nth-child(9)
{
  left: 90%;
  width: 4.5rem;
  height: 4.5rem;
  animation-delay: 16s;
}

.bubbles li:nth-child(10)
{
  left: 15%;
  width: 2.5rem;
  height: 2.5rem;
  animation-delay: 18s;
}

.bubbles li:nth-child(11)
{
  left: 55%;
  width: 8rem;
  height: 8rem;
  animation-delay: 20s;
}

.bubbles li:nth-child(12)
{
  left: 5%;
  width: 5.5rem;
  height: 5.5rem;
  animation-delay: 22s;
}

.bubbles li:nth-child(13)
{
  left: 95%;
  width: 7rem;
  height: 7rem;
  animation-delay: 24s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 100%;
  }
}
